.detail-title {
    color:rgb(97, 97, 97);
    font-size: x-large;
    font-weight: 800;
  }
  
  label {
      color: #435960;
      font-weight: bold;
      display: block;
      margin-bottom: .5rem;
    }
    input {
      font-size: 1em;
      padding: .5rem;
    }
    button {
      margin-top: 20px;
      background-color: #eee;
      padding: 1rem;
      border-radius: 4px;
      font-size: 1rem;
    }
    button:hover {
      background-color: #cfd8dc;
    }
    button:disabled {
      background-color: #eee;
      color: #ccc;
      cursor: auto;
    }